<table class="record" border="1">
{% for item in items %}
    <tr>
        <th>{{item.name|escape}}:</th>
        <td>
            {% with item.value as cell %}
                {% include "djata/cell.raw.html" %}
            {% endwith %}
        </td>
    </tr>
{% endfor %}
{% for item in child_items %}
    <tr>
        <th>{{item.name|escape}}:</th>
        <td>
            <ul>
                {% for cell in item.items %}
                <li>{% include "djata/cell.raw.html" %}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
{% for item in related_items %}
    <tr>
        <th>{{item.name|escape}}:</th>
        <td>
            <ul>
                {% for cell in item.items %}
                <li>{% include "djata/cell.raw.html" %}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>
